/* Home Page Css */

.homePageWrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.formWrapper{
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.homePageLogo{
  width: 400px;
  margin-bottom: 20px;
}

.mainLable{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputBox{
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  background-color: #eee;
  font-size: 13px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 6px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}

.joinBtn{
  width: 70px;
  background-color: indigo;
  color: white;
  margin-left: 160px;
}

.joinBtn:hover, .leaveBtn:hover{
  background-color: rgb(43, 6, 69);
}

.createInfo{
  margin: 0 auto;
  margin-top: 10px;
}

.createNewBtn{
  color: rgb(131, 67, 176);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.createNewBtn:hover{
  color: rgb(249, 249, 249);
}

footer{
  position: fixed;
  bottom: 0px;
  right: 44%;
}

footer a{
  color: rgb(131, 67, 176);
  text-decoration: none;
}

/* Editor Page css */

.mainWrap{
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.aside{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.asideInner{
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 13px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 3px;
}

.logo{
  border-bottom: 1px solid rgb(105, 19, 167);
  padding-bottom: 10px;
}

.logoImage{
  height: 60px;
  width: 230px;
}

.leaveBtn{
  margin-top: 10px;
  background-color: indigo;
  color: #fff;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}